<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cqupt.jyxxh.uclass.dao.BindContrastMapper">


    <!--1.queryBindByOpenid，-->
    <select id="queryBindByOpenid" resultType="BindContrast" parameterType="String">
        select * from bind_contrast where openid='${value}'
    </select>


    <!--2.numByOpenid,根据openid查询绑定表里的数据条数-->
    <select id="numByOpenid" resultType="Integer"  parameterType="String" >
        select count(*) from bind_contrast where openid='${value}'
    </select>

    <!--3.根据oprnid获取绑定用户的类型 “16”为学生 “01”为老师-->
    <select id="queryBindTypeByOpenid" resultType="String" parameterType="String">
        select user_type from bind_contrast where openid='${value}'
    </select>

    <!--4.插入新的绑定关系 insertBindContrast-->
    <insert id="insertBindContrast" parameterType="BindContrast">
        insert into bind_contrast(openid,user_type,bind_name,bind_ykth,bind_number,first_bind_time)
        values (#{openid},#{user_type},#{bind_name},#{bind_ykth},#{bind_number},#{first_bind_time})
    </insert>

    <!--5.deleteBindConByOpenid，根据openid删除一条绑定数据-->
    <delete id="deleteBindConByOpenid" parameterType="String">
        delete from bind_contrast where openid='${value}'
    </delete>


</mapper>