<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cqupt.jyxxh.uclass.dao.QianDaoMapper">
    <!--1.将签到记录数据插入到mysql-->
    <insert id="insertQiandaoResult" parameterType="QianDaoResult">
        Insert into uclass_qdjl(qdid, jxb, week, work_day, qdcs, allStuNum, notOnStuNum,
                                inStuNum, beLateNum, askForLeaveNum, qdsj)
        values (#{qdid},
                #{jxb},
                #{week},
                #{work_day},
                #{qdcs},
                #{allStuNum},
                #{notOnStuNum},
                #{inStuNum},
                #{beLateNum},
                #{askForLeaveNum},
                #{qdsj})
    </insert>

    <!--2.将签到有记录的学生数据插入到mysql-->
    <insert id="insertNoQDStuInfo" parameterType="java.util.List">
        insert into uclass_no_qd_stu (qdid,xh,xm,xb,yxm,zym,nj,bj,xjzt,qdzt) VALUES
        <foreach collection="list" item="classStuInfo" separator=",">
            (
            #{classStuInfo.qdid},
            #{classStuInfo.xh},
            #{classStuInfo.xm},
            #{classStuInfo.xb},
            #{classStuInfo.yxm},
            #{classStuInfo.zym},
            #{classStuInfo.nj},
            #{classStuInfo.bj},
            #{classStuInfo.xjzt},
            #{classStuInfo.qdzt}
            )
        </foreach>
    </insert>

    <!--3.getStuQdRecord，根据学号和教学班获取学生的签到记录-->
    <select id="getStuQdRecord" parameterType="java.util.Map" resultType="StuSingleRecord">
        select qdjl.jxb,
               qdjl.qdsj,
               qdjl.week,
               qdjl.work_day,
               concat('第', week, '周周', work_day, '第', qdcs, '次') as weekStr,
               qdjl.qdcs,
               uclass_no_qd_stu.qdzt
        from (select * from uclass_qdjl where jxb = #{jxb}) as qdjl
                 left join
             uclass_no_qd_stu
             on qdjl.qdid = uclass_no_qd_stu.qdid and xh = #{xh}
    </select>

    <!--4.getkcQdRecord,根据教学班获取该课程有缺勤|迟到|请假记录的学生名单，以及相应的记录
    例：
    xm      xh          qdzts
    彭渝刚	2017214033	QJ,QQ
    文流彬	2017214057	QQ
    张海浪	2017214121	QQ,QQ,QQ
     -->
    <select id="getkcQdRecord" resultType="java.util.HashMap" parameterType="String">
        select xm, xh, group_concat(qdzt) as qdzts
        from (select qdid from uclass_qdjl where jxb = #{value}) as qdids
                 inner join uclass_no_qd_stu as unq on qdids.qdid = unq.qdid
        group by unq.xh
    </select>

    <!--5.教师个学生补签，类型为请假，未到人+1，请假人数-1-->
    <update id="updataResultQj" parameterType="String">
        update uclass_qdjl
        set notOnStuNum=notOnStuNum - 1,
            askForLeaveNum=askForLeaveNum + 1
        where qdid = #{value}
    </update>

    <!--6.updataNoQdStuQj 教师给学生补签，类型为请假，修改改学生本次签到状态为QJ。-->
    <update id="updataNoQdStuQj">
        update uclass_no_qd_stu
        set qdzt='QJ'
        where qdid = #{qdid}
          and xh = #{xh}
    </update>

    <!--7.updataResultCd 教师给学生补签，类型为迟到，未到人数-1，迟到人数+1-->
    <update id="updataResultCd" parameterType="String">
        update uclass_qdjl
        set notOnStuNum=notOnStuNum - 1,
            beLateNum=beLateNum + 1
        where qdid = #{value}
    </update>

    <!--8.updataNoQdStuCd 教师给学生补签，类型为迟到，修改改学生本次签到状态为CD。-->
    <update id="updataNoQdStuCd">
        update uclass_no_qd_stu
        set qdzt='CD'
        where qdid = #{qdid}
          and xh = #{xh}
    </update>

    <!--9.updataResultWt 教师给学生补签，类型为网络问题，未到人数-1，已到人数+1-->
    <update id="updataResultWt" parameterType="String">
        update uclass_qdjl
        set notOnStuNum=notOnStuNum - 1,
            inStuNum=inStuNum + 1
        where qdid = #{value}
    </update>

    <!--10.deleteNoQdStuWt 教师给学生补签，类型为网络问题，将改学生的未到记录删除-->
    <delete id="deleteNoQdStuWt">
        delete
        from uclass_no_qd_stu
        where qdid = #{qdid}
          and xh = #{xh}
    </delete>


</mapper>