<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cqupt.jyxxh.uclass.dao.QianDaoMapper">
    <!--1.将签到记录数据插入到mysql-->
    <insert id="insertQiandaoResult" parameterType="java.util.List">
        Insert into uclass_qdjl(qdid, jxb, week, work_day, qdcs, allStuNum, notOnStuNum,
        inStuNum,beLateNum,askForLeaveNum,qdsj)
        values
        <foreach collection="list" item="qiandaoresult" separator=",">
            (
            #{qiandaoresult.qdid},
            #{qiandaoresult.jxb},
            #{qiandaoresult.week},
            #{qiandaoresult.work_day},
            #{qiandaoresult.qdcs},
            #{qiandaoresult.allStuNum},
            #{qiandaoresult.notOnStuNum},
            #{qiandaoresult.inStuNum},
            #{qiandaoresult.beLateNum},
            #{qiandaoresult.askForLeaveNum},
            #{qiandaoresult.qdsj}
            )
        </foreach>
    </insert>

    <!--2.将签到有记录的学生数据插入到mysql-->
    <insert id="insertNoQDStuInfo" parameterType="java.util.List">
        insert into uclass_no_qd_stu (qdid,xh,xm,xb,yxm,zym,nj,bj,xjzt,qdzt) VALUES
        <foreach collection="list" item="classStuInfo" separator=",">
            (
            #{classStuInfo.qdid},
            #{classStuInfo.xh},
            #{classStuInfo.xm},
            #{classStuInfo.xb},
            #{classStuInfo.yxm},
            #{classStuInfo.zym},
            #{classStuInfo.nj},
            #{classStuInfo.bj},
            #{classStuInfo.xjzt},
            #{classStuInfo.qdzt}
            )
        </foreach>
    </insert>

    <!--3.getStuQdRecord，根据学号和教学班获取学生的签到记录-->
    <select id="getStuQdRecord" parameterType="java.util.Map" resultType="StuSingleRecord">
        select qdjl.jxb,
               qdjl.qdsj,
               qdjl.week,
               qdjl.work_day,
               concat('第', week, '周周', work_day) as weekStr,
               qdjl.qdcs,
               uclass_no_qd_stu.qdzt
        from (select * from uclass_qdjl where jxb = #{jxb}) as qdjl
                 left join
             uclass_no_qd_stu
             on qdjl.qdid = uclass_no_qd_stu.qdid and xh = #{xh}
    </select>

    <!--4.getkcQdRecord,根据教学班获取该课程有缺勤|迟到|请假记录的学生名单，以及相应的记录
    例：
    xm      xh          qdzts
    彭渝刚	2017214033	QJ,QQ
    文流彬	2017214057	QQ
    张海浪	2017214121	QQ,QQ,QQ
     -->
    <select id="getkcQdRecord" resultType="java.util.HashMap" parameterType="String">
        select xm, xh, group_concat(qdzt) as qdzts
        from (select xm, xh, qdzt
              from (select uclass_qdjl.qdid from uclass_qdjl where jxb = #{value}) as qdjl
                       left join uclass_no_qd_stu
                                 on qdjl.qdid = uclass_no_qd_stu.qdid) as allstu
        group by xh
    </select>

</mapper>