<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cqupt.jyxxh.uclass.dao.StudentMapper">

    <!--1.queryStudentByXh,通过学号（xh）查询学生信息-->
    <select id="queryStudentByXh" parameterType="String" resultType="Student">
        select * from uclass_students_info where xh=#{value}
    </select>

    <!--2.insertStudent,插入条学生信息-->
    <insert id="insertStudent" parameterType="Student" >
        insert into
        uclass_students_info(xh,xm,xb,ykth,password,yxm,zym,nj,bj,xjzt,mz,csrq,stu_phone,stu_email)
        values(#{xh},#{xm},#{xb},#{ykth},#{password},#{yxm},#{zym},#{nj},#{bj},#{xjzt},#{mz},#{csrq},#{stu_phone},#{stu_email})
    </insert>


    <!--3.deleteStudentByOpenid,根据学号（xh）删除学生数据-->
    <delete id="deleteStudentByOpenid" parameterType="String">
        delete from uclass_students_info where xh=#{value}
    </delete>

    <!--4.numByYkth，根据一卡通号查询数据条数-->
    <select id="numByYkth" resultType="int" parameterType="String">
        select count(*) from uclass_students_info where ykth=#{value}
    </select>

    <!--5.queryStudentByXh,通过一卡通号（ykth）查询学生信息-->
    <select id="queryStudentByYkth" parameterType="String" resultType="Student">
        select * from uclass_students_info where ykth=#{value}
    </select>


    <!--6.queryYkthAndPassByXh，通过学号获取一卡通号，和密码。格式：ykth_password-->
    <select id="queryYkthAndPassByXh" parameterType="String" resultType="String">
        select concat(ykth,'_',password) from uclass_students_info where xh=#{value}
    </select>

    <!--7.addPasswordBYkth，根据一卡通号为学生账户添加密码-->
    <select id="addPasswordBYkth" parameterType="Student">
        update uclass_students_info set password=#{password} where xh=#{xh}
    </select>

    <!--8.deletePassword，根据一卡通号，删除学生账户的密码-->
    <select id="deletePassword" parameterType="String">
        update uclass_students_info set password='' WHERE ykth=#{value}
    </select>

    <!--9.deleteStudentByYkth,根据一卡通号，删除学生数据-->
    <delete id="deleteStudentByYkth" parameterType="String">
        delete from uclass_students_info where ykth=#{value}
    </delete>
</mapper>