<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cqupt.jyxxh.uclass.dao.TeacherMapper">


    <!--1.queryTeacherByTeaId，通过教师号（teaId）查询单个教师信息-->
    <select id="queryTeacherByTeaId" parameterType="String" resultType="Teacher">
        SELECT * from uclass_teacher_info where teaId='${value}'
    </select>

    <!--2.deleteTeacherByTeaId，根据教师号（TeaId）删除老师数据-->
    <delete id="deleteTeacherByTeaId" parameterType="String">
        delete from uclass_teacher_info where teaId='${value}'
    </delete>

    <!--3.插入一条新教师教务账号数据-->
    <insert id="insertTeacher" parameterType="Teacher">
        insert into uclass_teacher_info(teaId,teaName,xb,ykth,password,zc,jysm,yxm,email,phone)
        values (#{teaId},#{teaName},#{xb},#{ykth},#{password},#{zc},#{jysm},#{yxm},#{email},#{phone})
    </insert>

    <!--4.根据一卡通号查询数据条数（不是0，就是1），用来验证数据库中有没有这个教务用户-->
    <select id="numByYkth" parameterType="String" resultType="int">
        select count(*) from uclass_teacher_info where ykth ='${value}'
    </select>

    <!--5.queryTeacherByYkth，获取教务账号（教师）通过一卡通号-->
    <select id="queryTeacherByYkth" parameterType="String" resultType="Teacher">
        select * from uclass_teacher_info where ykth=#{value}
    </select>

    <!--6.addPassword，给教师账户添加密码（加密之后的密码）-->
    <select id="addPassword" parameterType="Teacher">
        UPDATE uclass_teacher_info SET password=#{password} WHERE teaId=#{teaId}
    </select>

    <!--7.deletePassword，删除教师账户的密码，根据一卡通号-->
    <select id="deletePassword" parameterType="String">
        UPDATE uclass_teacher_info SET password='' WHERE ykth=#{value}
    </select>

    <!--8.deleteTeacherByYkth，根据一卡通号删除教师数据-->
    <delete id="deleteTeacherByYkth" parameterType="String">
        delete from uclass_teacher_info where ykth='${value}'
    </delete>

    <!--9.addEmailAndPhone,给教师更新邮箱与电话号码-->
    <update id="addTeaEmailAndPhone" parameterType="java.util.Map">
        update uclass_teacher_info set email=#{email},phone=#{phone} WHERE ykth=#{ykth}
    </update>
</mapper>