<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cqupt.jyxxh.uclass.dao.TeacherMapper">


    <!--1.queryTeacherByTeaId，通过教师号（teaId）查询单个教师信息-->
    <select id="queryTeacherByTeaId" parameterType="String" resultType="Teacher">
        SELECT * from uclass_teacher_info where teaId='${value}'
    </select>

    <!--2.deleteTeacherByTeaId，根据教师号（TeaId）删除老师数据-->
    <delete id="deleteTeacherByTeaId" parameterType="String">
        delete from uclass_teacher_info where eaId='${value}'
    </delete>

    <!--3.插入一条新教务账号数据-->
    <insert id="insertTeacher" parameterType="Teacher">
        insert into uclass_user(teaId,teaName,xb,ykth,zc,jysm,yxm)
        values (#{teaId},#{teaName},#{xb},#{ykth},#{zc},#{jysm},#{yxm})
    </insert>
</mapper>