<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true" xmlns="http://ch.qos.logback/xml/ns/logback"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback
               https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">

    <!--Put your configurations on here-->
    <contextName>uclassLog</contextName>

    <property name="log.filePath" value="${catalina.base}/logs"/>

    <!--输出到控制台的日志格式-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <!--写入到文件的日志格式(INFO级别)-->
    <appender name="FILE_INFO" class="ch.qos.logback.core.FileAppender">
        <file>${log.filePath}/test.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <!--写入到文件的日志格式（ERROR级别）-->
    <appender name="FILE_ERROR" class="ch.qos.logback.core.FileAppender">
        <file>error.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <!--把debug级别以上的的日志输出到控制台-->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
    <!--把info级别以上的的日志输出到文件-->
    <root level="INFO">
        <appender-ref ref="FILE_INFO"/>
    </root>
    <!--把error级别以上的日志输出到文件-->
    <root level="ERROR">
        <appender-ref ref="FILE_ERROR"/>
    </root>

</configuration>