<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--1.配置别名-->
    <typeAliases>
        <package name="cqupt.jyxxh.uclass.pojo"/>
    </typeAliases>


    <!--2.扫描mapper文件-->
    <mappers>
        <package name="cqupt.jyxxh.uclass.dao"/>
    </mappers>

</configuration>